Django>=5.0,<6.0
djangorestframework>=3.15,<4.0
djangorestframework-simplejwt>=5.3,<6.0
django-cors-headers>=4.4,<5.0
django-anymail[brevo]>=11,<12
drf-spectacular>=0.27,<1.0
psycopg2-binary>=2.9,<3.0
Pillow>=12.2,<13.0
regex>=2026.6,<2027.0
gunicorn>=22.0,<23.0
